{% extends "base.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>死链处理</h2>
            <h5>将死链地址添加到相应域名下面的死链文件</h5>
            <h5>上传文件为txt格式，以换行分隔</h5>
        </div>
    </div>
    <hr>
    <form  method="post" enctype='multipart/form-data'>
        {% for filed in form %}
            <div class="form-group">
                {{ filed.label }}:{{ filed }}
                {% if  filed.errors %}
                    <div class="alert alert-warning" role="alert">{{ filed.errors[0] }}</div>
                {% endif %}
            </div>
        {% endfor %}
        <hr>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">提交</button>
        </div>
    </form>
{% endblock %}